

.pics{
  position: absolute;
}

.pic{
  position: absolute;
  opacity: 0;
}

.pic.show{
  display: block;
  opacity: 3;
}

#pics01{
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
}

#pics02{
  top: 300px;
  left: 400px;
  width: 200px;
  height: 200px;
}

.pics img{
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
}


css
.header {
  background-color: rgb(145, 242, 255); /* ヘッダーの背景色をピンクに設定 */
}

#main-content {
  background-color: rgb(249, 165, 255); /* メインコンテンツの背景色をライトグリーンに設定 */
}