


body {
  background-color: lightblue; /* 背景色をライトブルーに設定 */
}


がぞう
img {
  width: 200px; /* 幅を300ピクセルに設定 */
  height: auto; /* 高さを自動調整 */
}

img {
  display: block;
  margin: 6 auto; /* 上下の余白を0、左右を自動で調整 */
}






